.dice {
    font-size: 32px;
    margin-left: 30px;
    cursor: pointer;
}
.card {
}
.score {
    font-size: 18px;
    margin-top: 10px;
}

#score-card th, #score-card td {
    padding: 10px 20px;
    border: 1px solid black;
}

#score-card {
    border-collapse: collapse;
}

.clickable {
    cursor: pointer;
}

#leaderboard-container {
    margin-top: 40px;
}

#leaderboard {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#leaderboard th, #leaderboard td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#leaderboard th {
    background-color: #f2f2f2;
}

#leaderboard tr:hover {
    background-color: #f1f1f1;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pagination button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#pagination button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

#no-data {
    color: red;
    margin-top: 20px;
}